* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}


body{
    overflow-x: hidden;
    background: #E2F788;
}
input, select, option {
    border-radius: 6px;
    border: 1px solid #D6D6D6;
    background: #FFF;
/*width: 273px;
    min-width: 85%*/;
    min-width: 90%;
    margin: 20px 5%;
    height: 40px;
    flex-shrink: 0;
    text-align: center;
}

.filterBox {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
}


